<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" style="background-color: floralwhite;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
    <style>@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");</style>
</head>
<body>
    <h1>Please login to visit my gallery!</h1>
    
    <form action="/login" method='POST' >
        <label for="username">Username</label>
        <input type="text" placeholder="Enter username" name="username">
        <label for="password">Password</label>
        <input type="password" placeholder="Enter password" name="password">
        <button type="submit">Login</button>   
    </form> 
</body>
</html>